* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(238, 235, 235);
  padding: 10px;
  margin: 10px;
}
.container {
  font-family: "Times New Roman", Times, serif;
}
.container header a:link {
  color: blueviolet;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

.is-active {
  color: red;
  font-weight: bold;
}
.filter {
  margin: 20px;
}
.filter input {
  border: 1px solid green;
  margin-right: 10px;
}
.filter select {
  border: 1px solid red;
}

.list {
  margin: 20px;
  padding: 10px;
}
.list a:link {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}
.list button {
  margin-left: 10px;
  border: 1px solid red;
}
